<div class="container">

    <div class="block_1">
        <img src="assets\user_icon.png" alt="" height="250px" width="250px" class="img_user">
        <div class="info_user">
            <h2 class="contact">CONTACT</h2>
            <ul class="list">
                <li class="li_txt">Phone: {{phone}}</li>
                <li class="li_txt">City: {{city}}</li>
            </ul>
        </div>

        <div class="info_div">
            <h1 class="txt">Educational History</h1>
            <p><b>{{education}}</b></p>
            <p>{{educationTxt}}</p>
        </div>

        <div class="info_div">
            <h1 class="txt">{{skillTitle}}</h1>
            <ul class="list">
                <li class="li_txt">{{skill1}}</li>
                <li class="li_txt">{{skill2}}</li>
                <li class="li_txt">{{skill3}}</li>
            </ul>
        </div>

        <div class="links">
            <ul class="link_list">
                <li class="li_link"><a href="https://github.com/gggee">GitHub</a></li>
                <li class="li_link"><a href="https://ru.linkedin.com/">LinkedIn</a></li>
                <li class="li_link"><a href="https://twitter.com/">Twitter</a></li>
            </ul>
        </div>
    </div>

    <div class="block_2">
        <h1 class="FIO_txt">{{FIO}}</h1>

        <div class="exp_txt">
            <h1 class="txt">Work experience</h1>
            <p><b>{{expTitle}}</b></p>
            <p>{{expTxt}}</p>
        </div>

        <div class="exp_txt">
            <p><b>{{expTitle_2}}</b></p>
            <p>{{expTxt}}</p>
        </div>

        <div class="exp_txt">
            <p><b>{{expTitle_3}}</b></p>
            <p>{{expTxt}}</p>
        </div>

        <div class="exp_txt">
            <h1 class="txt">Awards Received</h1>
            <p>{{award1}}</p>
            <p>{{award2}}</p>
        </div>
    </div>
</div>